<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&D AI Monster</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/loading-states.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/static/statBlock.css" rel="stylesheet" type="text/css">
        
    <style>
        .hidden{
            display:none;
        }
        .htmx-request .htmx-indicator{
            display:inline;
        }
        .htmx-request.htmx-indicator{
            display:inline;
        }
        [data-loading] {
            display: none;
          }
    </style>
</head>
<body hx-ext="loading-states">
    <h1>D&D AI Monster</h1>
    <h1>Enter your monster description</h1>

    <form hx-post="/monster-maker" 
        hx-target="#result"  
        hx-swap="innerHTML"
        data-loading-target="#loading"
        data-loading-class-remove="hidden"
        id="monster-maker"> 
        <input type="text" name="user_input" id="user_input" data-loading-disable>
        <button type="submit" data-loading-disable>
            Make Monster
        </button>
    </form>
    <img id="loading" class="hidden" src="/spinner.svg">

    <div id="result">
    </div>
</body>
</html>
